.outlined{
    color: #5D89FA;
    background-color: transparent;
    border: 1px solid #5D89FA;
}
.contained{
    background: #5D89FA;
    color: white;
}
.reverse{
    display: flex;
    margin-left: 9%;
}
.reverse-butt{
    padding: 6px 19px 5px;
    border-radius: 5px;
    margin: 0 9px;
}
.reverse-butt.not-active{
    background: #E0E5FC;
    width: 220px;
}
.reverse-butt.not-active img{
    margin-right: 5px;
}
.reverse-butt.not-active span{
    display: inline;
}
.rotate {
    animation: rotate-keyframes 1s;
}
   
@keyframes rotate-keyframes {
    from {
     transform: rotate(0deg);
    }
   
    to {
     transform: rotate(180deg);
    }
}
@media screen and (max-width: 750px){
    .reverse-butt{
        padding: 4px 14px 3px;
        border-radius: 5px;
        margin: 0 6px;
    }
    .reverse-butt img{
        width: 20px;
    }
    .reverse-butt.not-active{
        width: auto;
    }
    .reverse-butt.not-active img{
        margin-right: 3px;
    }
    .reverse-butt.not-active>span{
        display: none;
    }
}
@media screen and (max-width: 500px){
    .reverse{
        margin-left: 0;
    }
}