footer{
    background-color: white;
    // padding: 3rem 0;
    padding: 2rem 0;
}
.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.content>h6{
    font-family: 'poppins600';
    font-size: 20px;
    line-height: 30px;
    margin: 0.5rem 0 0;
}
.content>p{
    font-family: 'poppins400';
    font-size: 16px;
    line-height: 24px;
    margin: 0;
    padding: 0;
}

.footer{
    text-align: center;
}
@media screen and (max-width: 900px){
    .content>img{
       width: 130px;
    }
    .content>h6{
        font-size: 16px;
    }
    .content>p{
        font-size: 14px;
    }
}
@media screen and (max-width: 600px){
    footer{
        padding: 1rem 0;
    }
    .container{
        flex-direction: column;
    }
}