.post-category{
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.06em;
    min-width: 34%;
}
.post-category>p{
    font-family: 'poppins500';
    color: #808494;
    margin: 0 0 5px;
}
.post-category>div{
    display: flex;
}
.post-category>div ul{
    text-decoration: none;
    padding: 0;
}
.post-category>div li, .post-category>div>p{
    font-family: 'poppins600';
}