.cnf-card{
    width: 450px;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.01em;
    padding: 30px;
    background: #FEFEFF;
    border-radius: 10px;
    color: #000000;
}
.cnf-card-header{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.cnf-card-close{
    background-color: transparent;
}
.cnf-card-header>p{
    font-family: 'poppins600';
    font-size: 24px;
    line-height: 36px;
}
.cnf-card-body{
    font-family: 'poppins400';
}
.cnf-card-footer{
    font-family: 'poppins700';
    color: #FFFFFF;
    width: 100%;
    background: #FF5555;
    border-radius: 6px;
    text-align: center;
    padding: 10px 0;
}
@media screen and (max-width: 500px){
    .cnf-card{
        width: 90%;
    }
}
