.filter {
   display: flex;
   align-items: center;
   gap: 4px;
}
.filter >div {
    margin: 0;
}
.post-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 32px;
}
.post-list > div {
    height: 400px;
}