.addPost{
    padding: 20px 0 200px;
}
.addPost form{
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}
.select{
    display: flex;
    flex-direction: column;
}
.form-title{
    font-family: 'poppins600';
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.115em;
    margin-bottom: 8px;
    margin-top: 30px;
}
.form-map{
    width: 90vw;
    height: 400px;
    background-color: #d9d9d985;
}
.form-radio{
    background: #FFFFFF;
    border: 0.5px solid #D9D9D9;
    border-radius: 6px;
    padding: 20px;
    width: 70vw;
}
.form-radio>div{
    display: flex;
    align-items: flex-start;
    padding: 5px;
}
.form-radio p{
    margin: 0;
}
input[type='radio']{
    width: 19px;
    height: 19px;
    border: 1px solid #69A3F9 !important;
    margin-right: 10px;
}
// .form-radio>div:hover{
//     background: #F4F3F3;
//     border: 1px solid #DEDBDB;
//     border-radius: 9px;
// }
.radio-title{
    font-size: 14px;
    line-height: 21px;
}
.radio-desc{
    font-size: 10px;
    line-height: 15px;
    color: #777676;
}
label{
    font-size: 16px;
    letter-spacing: 0.115em;
    margin-bottom: 8px;
}

.add-post-container{
    width: 500px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin-bottom: 10px;
}
.form-img{
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.115em;
    color: #777676;
}
textarea{
    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    border-radius: 6px;
    width: 70vw;
}
.form-layout{
    width: 70vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 100px;
}
.form-layout>div label{
   margin-top: -2px;
}
.form-amenities{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5px;
}
input[type='checkbox']{
    width: 19px;
    height: 19px;
    margin-right: 10px;
}
@media screen and (max-width: 700px){
    .add-post-container{
        width: 90vw;
        grid-template-columns: 1fr;
    }
    textarea{
        width: 90vw;
    }
    .form-radio{
        width: 90vw;
        padding: 20px 15px;
    }
    .form-layout{
       flex-direction: column;
       align-items: flex-start;
    }
    .form-amenities{
        grid-template-columns: 1fr 1fr;
    }
}
@media screen and (max-width: 480px){
    .form-amenities label{
       font-size: 12px;
    }
}
@media screen and (max-width: 400px){
    .form-amenities{
        grid-template-columns: 1fr;
    }
}