.profile{
    padding: 3% 0;
    position: relative;
}
.page-title{
    font-family: 'poppins800';
    font-size: 30px;
    line-height: 60px;
    letter-spacing: 0.06em;
}
.profile-nav{
    width: 100%;
    background-color: white;
    border-radius: 6px;
    border-bottom: 1px solid #C6C3C3;
    display: flex;
    justify-content: flex-end;
    left: 0;
    position: absolute;
}
.profile-nav>div{
    width: 230px;
    padding: 15px 0 10px;
    text-align: center;
    font-family: 'poppins400';
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.115em;
    cursor: pointer;
}
.profile-nav>div:hover{
    color: #5681FB;
    border-bottom: 1px solid #5681FB;
}
.selected{
    border-bottom: 1px solid #000000;
}
.not-selected{
    border-bottom: 0px;
}
.profile-body{
    display: grid;
    grid-template-columns: auto 8fr;
    gap: 100px;
}
.user-info{
    width: 320px;
    z-index: 4;
    padding-top: 10px;
}
.profile-nav-content{
    padding: 64px 0;
    width: 100%;
}
.posts-lists{
    width: 54.7vw;
    overflow: hidden;
}
.posts-lists>p{
    width: 100%;
    padding: 5px 10px;
    background-color: white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
@media screen and (max-width: 1040px){
    .profile-body{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
    .profile-nav{
        justify-content: center;
        position: static;
    }
    .profile-nav-content{
        padding: 10px 0;
    }
    .user-info{
        width: 550px;
    }
}
@media screen and (max-width: 800px){
    .profile-nav>div{
        width: 30vw;
    }
    .profile-nav{
        font-size: 14px;
        justify-content: space-around;
    }
    .user-info{
        width: 100%;
    }
    .posts-lists{
        width: 100%;
    }
}