.user-data{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.user-text{
    margin: 20px 0;
    font-family: 'poppins400';
    letter-spacing: 0.06em;
    font-size: 16px;
    line-height: 24px;
}
.user-text>p{
    margin: 0;
}
.user-name{
    font-size: 20px;
    line-height: 36px;
}
.user-job{
    color: #808494;
}
.user-phone{
    font-family: 'poppins700';
    letter-spacing: 0.01em;
    color: #5681FB;
}
.user-text>button{
    width: 100%;
    text-align: center;
    padding: 10px 0;
    background: #FEFEFF;
    border: 1px solid #C6C3C3;
    border-radius: 6px;
    font-family: 'poppins500';
    font-size: 15px;
    line-height: 22px;
    letter-spacing: 0.01em;
    margin-top: 5%;
}
.user-img{
    width: 170px;
    margin: 0 auto;
    background-color: #5681FB;
    border-radius: 300px;
}

.user-update>label{
    letter-spacing: 0.01em;
    color: #000000;
    margin-top: 15px;
}
@media screen and (max-width: 1040px){
    .user-data{
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
    }
}
@media screen and (max-width: 600px){
    .user-name{
        font-size: 18px;
    }
    .user-text{
        font-size: 14px;
    }
    .user-data{
        flex-direction: column;
    }
}