.userprofile{
    padding: 3% 0;
}
.userprofile-nav{
    width: 100%;
    height: 54px;
    display: flex;
    justify-content: center;
}
.user-post-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
}
.userprofile-nav>div{
    width: 230px;
    padding-top: 15px;
    text-align: center;
    font-family: 'poppins400';
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.115em;
}
.userprofile-nav>div:hover{
    color: #5681FB;
    border-bottom: 1px solid #5681FB;
}
.selected{
    border-bottom: 1px solid #000000;
}
.not-selected{
    border-bottom: 0px;
}

.userprofile-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
