.back-btn{
    background-color: transparent;
    color: #0032E4;
    font-family: "poppins400";
    font-size: 16px;
    line-height: 27px;
    letter-spacing: 0.06em;
    display: flex;
    align-items: center;
    transition: all .3s;
    
}

.media-container{
    width: 250px;
    padding: 10px;
    background-color: white;
    border-radius: 10px;

    display: flex;
    align-items: center;
    justify-content: space-around;
}
.insta_div{
   width: 31px;
}

@media screen and (max-width: 680px){
    .back-btn{
        font-size: 14px;
        letter-spacing: 0.03em;
    }
}