.edit-settings{
    width: 50%;
}
@media screen and (max-width: 800px){
    .edit-settings{
        width: 70%;
    }
}
@media screen and (max-width: 480px){
    .edit-settings{
        width: 90%;
    }
}
