.filter{
    display: flex;
    flex-wrap: nowrap;
    background-color: #FFF;
    border-radius: 6px;
    padding: 20px 5px;
    gap: 10px;
    margin-bottom: 1rem;

    &__price {
        padding: 12px 14px;
        display: flex;
        align-items: center;
        gap: 14px;
    }
    &__location{
        padding: 5px !important;
        margin: 0;
    }
    &__location > *  {
        padding: 5px 20px;
    }
    .css-16ac5r2-MuiButtonBase-root-MuiListItemButton-root.Mui-selected , .location_active {
        background: #C8DEFF !important;
        border-radius: 5px;
    }
}

.filter > div:not(:last-child) {
    border-right: 0.2px solid #B3B3B3;
    padding-right: 12px;
}
.filter > div:not(:first-child) {
    padding-left: 12px;
}

.title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 3.5rem 0 0;
}
.title>h6{
    font-family: "poppins600";
    font-size: 30px;
    line-height: 58px;
}
.search{
    width: 254px;
    height: 48px;
    background-color: #FFF;
    border-radius: 6px;
    padding: 5px;
}
.search:focus{
    outline: none;
    border: 2px solid #69a3f98c;
}
@media screen and (max-width: 940px){
    .title>h6{
        font-size: 3vw;
    }
}
@media screen and (max-width: 640px){
    .title{
        flex-direction: column;
    }
    .title>h6{
        font-size: 4.8vw;
        line-height: 30px;
    }
    .search{
        width: 254px;
        height: 40px;
    }
}
@media screen and (max-width: 500px){
    .title{
        margin-top: 1rem;
    }
}