.filter{
    display: flex;
    flex-wrap: nowrap;
    background-color: #FFF;
    border-radius: 6px;
    padding: 20px 5px;
    gap: 10px;
    margin-bottom: 1rem;

    &__price {
        padding: 12px 14px;
        display: flex;
        align-items: center;
        gap: 14px;
    }
    &__location{
        padding: 5px !important;
        margin: 0;
    }
    &__location > *  {
        padding: 5px 20px;
    }
    .css-16ac5r2-MuiButtonBase-root-MuiListItemButton-root.Mui-selected , .location_active {
        background: #C8DEFF !important;
        border-radius: 5px;
    }
}

.filter > div:not(:last-child) {
    border-right: 0.2px solid #B3B3B3;
    padding-right: 12px;
}
.filter > div:not(:first-child) {
    padding-left: 12px;
}
.spaceBetween{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.title{
    margin: 3.5rem 0 0;
}
.title>h6{
    font-family: "poppins600";
    font-size: 30px;
    line-height: 58px;
}
.search{
    width: 254px;
    height: 48px;
    background-color: #FFF;
    border-radius: 6px;
    padding: 5px;
    margin-right: 5px;
}
.search:focus{
    outline: none;
    border: 2px solid #69a3f98c;
}
.filter_icon{
    background-color: #564f4f;
    color: white;
    padding: 5px 15px;
    border-radius: 5px;
    display: none;
}
.filter_icon:hover{
    background-color: #423c3c;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    cursor: pointer;
}
.filter_icon>p{
    margin: 0;
    margin-left: 3px;
    font-size: 16px;
}
.filter_mobile{
    background-color: white;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 100%;
    height: 85vh;
    position: fixed;
    overflow-y: auto;
    overflow-x: hidden;
    animation: openFilter .5s 1 forwards;
}
.filter_mobile:focus{
    outline: none !important;
    border: none !important;
}
@keyframes openFilter {
    0% {bottom: -100%;}
    100% {bottom: 0px;}
  }
.filter_mobile::-webkit-scrollbar{
    width: 0;
}
@media screen and (max-width: 940px){
    .title>h6{
        font-size: 3vw;
    }
}
@media screen and (max-width: 750px){
    .filter_icon{
        display: flex;
    }
    .filter_web{
        display: none;
    }
    .title>div{
        margin-bottom: 1rem;
    }
}
@media screen and (max-width: 640px){
    .title{
        flex-direction: column;
    }
    .title>h6{
        font-size: 4.8vw;
        line-height: 30px;
    }
    .search{
        width: 254px;
        height: 40px;
    }
}
@media screen and (max-width: 500px){
    .title{
        margin-top: 1rem;
    }
}
@media screen and (max-width: 480px){
    .filter_icon>p{
        display: none;
    }
    .filter_icon{
        padding: 5px;
        margin-right: 5px;
    }
}