.back-btn{
    background-color: transparent;
    color: #0032E4;
    font-family: "poppins400";
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.06em;
    display: flex;
    align-items: center;
    transition: all .3s;
    
}
@media screen and (max-width: 680px){
    .back-btn{
        font-size: 14px;
        letter-spacing: 0.03em;
    }
}