.add-user-anketa{
    width: 100%;
    background: #E2EDFF;
    border: 1px solid #BABBFF;
    border-radius: 9px;
    margin: -20px 0;
    display: grid;
    grid-template-columns: 7fr 5fr;
}
.roommate-anketa-body{
    background-color: #E2EDFF !important;
}
.user-anketa-left-card>input{
    margin-top: 10px;
}
.add-user-anketa-left{
    align-items: start;
    justify-content: start;
}
@media screen and (max-width: 480px){
    .add-user-anketa{
        width: 90vw !important;
    }
    .add-roommate-post-right{
        padding: 20px !important;
    }
    .add-user-anketa-left-card img{
        width: 60vw !important;
    }
    .add-roommate-post tr{
        display: flex;
        flex-direction: column;
    }
    .add-roommate-post th, .add-roommate-post td{
        padding: 0;
        width: 75vw !important;
    }
    .add-roommate-post td{
        margin-bottom: 5px;
    }
}

