.basic-menu {
    height: 40px;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 5px;
    &__count {
        background-color: #69A3F9;
        height: 16px;
        width: 16px;
        border-radius: 8px;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__label {
        font-family: 'Poppins';
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.115em;
        color: #000000;
    }

    &__arrow {
        width: 20px;
        height: 20px;
        border-radius: 10px;
        background-color: #D9D9D9;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__arrow:active{
        animation: spin 2s linear infinite
    }

    @keyframes spin {
        0% { transform: rotate(360deg); }
        100% { transform: rotate(0deg); }
   }
}